body {
    font-family: Arial, sans-serif;
    line-height: 1,4;
}

header, main, footer {
    max-width: 9900px;
    margin: 0 auto;
}

header {
    background-color: rgb(78, 140, 255);
    color: white;
    text-align: center;
    border-bottom: 8px;
    border-radius: 0 0 4px 4px;
    padding: 1rem 0;
    box-shadow: 0  0.4rem 0.2rem rgb(4, 25, 145) ;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    padding:0.3rem 0.6rem;
}

nav a:hover {
    background-color: #ffffff88;
    border-radius: 4px;
}

section {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    padding: 1rem;
}

section h2 {
    color:blue;
    margin-bottom: 0.5rem;
}